server {
    listen <%= node[:leaderboard][:app][:port] %>;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /usr/local/src/leaderboard/;
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/leaderboard.sock;
    }
}
