[global]
   workgroup = WORKGROUP
   server string = Application Server
   security = user
   map to guest = Bad User
   log level = 2
   syslog only = yes
   dns proxy = no
   guest account = <%= node[:homelab][:user][:apps][:name] %>
   load printers = no
   printing = bsd
   printcap name = /dev/null
   disable spoolss = yes

[data]
   path = /data
   public = yes
   only guest = yes
   writable = yes
