<%= node[:caddy][:app][:fqdn] %> www.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/www.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:2368 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

plexpy.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/plexpy.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:8181 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

netdata.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/netdata.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:19999 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

unifi.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/unifi.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / https://<%= node[:ipaddress] %>:8443 {
    insecure_skip_verify
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

sabnzbd.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/sabnzbd.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:8081 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

sonarr.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/sonarr.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:8989 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}

radarr.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/radarr.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:7878 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}
