deluge.<%= node[:caddy][:app][:fqdn] %> {
  gzip
  log /var/log/caddy/deluge.<%= node[:caddy][:app][:fqdn] %>.log {
    rotate_size <%= node[:caddy][:app][:logs][:size] %>
    rotate_keep <%= node[:caddy][:app][:logs][:keep] %>
  }
  proxy / <%= node[:ipaddress] %>:8112 {
    transparent
  }
  tls <%= node[:caddy][:app][:tls_email] %>
}
